body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  padding: 0 20px;
  color: #333;
  background-color: #ededed;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex: 1;
}
